/*
 *   Author:  Pit Orel
 *   Website: https://vk.com/html_css_verstka_saitov
 *   Github:  https://github.com/pit6262
 *   Skype:   hostings1
 *
 */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

input[type="search"] {
  -webkit-appearance: none; }

::-ms-clear {
  width: 0;
  height: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

td, form {
  margin: 0px;
  padding: 0px; }

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Hairline"), local("Montserrat-Hairline"), url("../fonts/montserrathairline.woff2") format("woff2"), url("../fonts/montserrathairline.woff") format("woff"), url("../fonts/montserrathairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserratlight.woff2") format("woff2"), url("../fonts/montserratlight.woff") format("woff"), url("../fonts/montserratlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"), local("Montserrat-Regular"), url("../fonts/montserrat.woff2") format("woff2"), url("../fonts/montserrat.woff") format("woff"), url("../fonts/montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserratbold.woff2") format("woff2"), url("../fonts/montserratbold.woff") format("woff"), url("../fonts/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/montserratblack.woff2") format("woff2"), url("../fonts/montserratblack.woff") format("woff"), url("../fonts/montserratblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.btn, .btn-load {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  line-height: 3.8125rem;
  width: 10.3125rem;
  height: 3.75rem;
  border-radius: 0.3125rem;
  background-color: #18cfab;
  font-size: 0.8125rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative; }

.btn {
  -webkit-box-shadow: 0 -0.3125rem 0 #fff;
  box-shadow: 0 -0.3125rem 0 #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .btn:hover {
    background-color: #15b898;
    -webkit-box-shadow: 0 -0.25rem 0 #fff;
    box-shadow: 0 -0.25rem 0 #fff;
    top: 1px; }
  .btn:active {
    background-color: #13a185;
    top: 0.25rem;
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff; }
  .btn--blue {
    background-color: #00cbf6; }
    .btn--blue:hover {
      background-color: #00b6dd; }
    .btn--blue:active {
      background-color: #00a1c3; }
  .btn-wrap {
    margin-top: 7.8125rem; }

.btn-load {
  padding-left: 3.375rem;
  border: 2px solid transparent; }
  .btn-load::before, .btn-load::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 0.25rem;
    background-color: #fff;
    left: 1.375rem;
    top: 50%;
    margin-top: -2px;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s; }
  .btn-load::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .btn-load:hover {
    background-color: #fff;
    border-color: #18cfab;
    color: #18cfab; }
    .btn-load:hover::before, .btn-load:hover::after {
      background-color: #18cfab; }
    .btn-load:hover::before {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }
    .btn-load:hover::after {
      -webkit-transform: rotate(450deg);
      -ms-transform: rotate(450deg);
      transform: rotate(450deg); }

.selected {
  display: block; }

.tabs-wrap__buttons, .tabs-wrap__content, .tabs-wrap .tabContent-1, .tabs-wrap .tabContent-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tabs-wrap__buttons {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .tabs-wrap__buttons .tabBtn-1, .tabs-wrap__buttons .tabBtn-2 {
    font-size: 1rem;
    color: #717171;
    border: 1px solid #ebebeb;
    background-color: transparent;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .tabs-wrap__buttons .tabBtn-1:not(:first-child), .tabs-wrap__buttons .tabBtn-2:not(:first-child) {
      border-left: none; }
  .tabs-wrap__buttons .tabBtn-1 {
    width: 12.0625rem;
    height: 4.5625rem;
    background-color: #f8fcfe;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .tabs-wrap__buttons .tabBtn-1:hover, .tabs-wrap__buttons .tabBtn-1.selected {
      background-color: #18cfab;
      color: #fff; }
      .tabs-wrap__buttons .tabBtn-1:hover::after, .tabs-wrap__buttons .tabBtn-1.selected::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 12.5px 0 12.5px;
        border-color: #18cfab transparent transparent transparent; }
    .tabs-wrap__buttons .tabBtn-1::after {
      content: '';
      position: absolute;
      bottom: -0.875rem;
      left: 50%;
      margin-left: -0.78125rem;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 12.5px 0 12.5px;
      border-color: transparent transparent transparent transparent;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
  .tabs-wrap__buttons .tabBtn-2 {
    padding: 1.375rem 1.5625rem;
    background-color: #fff; }
    .tabs-wrap__buttons .tabBtn-2:hover, .tabs-wrap__buttons .tabBtn-2.selected {
      color: #18cfab; }
      .tabs-wrap__buttons .tabBtn-2:hover::before, .tabs-wrap__buttons .tabBtn-2.selected::before {
        width: 100%; }
    .tabs-wrap__buttons .tabBtn-2::before {
      content: '';
      width: 0;
      height: 2px;
      background-color: #18cfab;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }

.tabs-wrap__content .tabContent-1__img {
  width: 12.1875rem;
  height: 8.75rem;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 1.25rem; }
  .tabs-wrap__content .tabContent-1__img img {
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .tabs-wrap__content .tabContent-1__img:hover img {
    -webkit-transform: rotate(10deg) scale(1.1);
    -ms-transform: rotate(10deg) scale(1.1);
    transform: rotate(10deg) scale(1.1); }

.tabs-wrap__content .tabContent-2 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section-heading {
  margin-bottom: 4.375rem;
  padding-bottom: 1.875rem;
  color: #4e4e4e;
  font-family: Montserrat, Arial, sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  position: relative; }
  .section-heading::before, .section-heading::after {
    content: '';
    position: absolute;
    display: block;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .section-heading::before {
    bottom: -4px;
    margin-left: 12px; }
  .section-heading::after {
    bottom: 0; }

.header {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  height: 7.5rem;
  background-color: rgba(73, 71, 63, 0.6); }
  .header .container, .header .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-logo__img {
    display: block; }
  .header-menu {
    margin-left: auto; }
    .header-menu__item {
      margin-left: 1.375rem;
      overflow: hidden; }
    .header-menu__link {
      display: block;
      line-height: 7.5rem;
      color: #b8b8b8;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      position: relative; }
      .header-menu__link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #18cfab;
        -webkit-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s; }
      .header-menu__link:hover, .header-menu__link.active {
        color: #18cfab; }
        .header-menu__link:hover::after, .header-menu__link.active::after {
          width: 100%; }
  .header-form {
    position: relative;
    width: 3.125rem;
    height: 3.125rem; }
    .header-form__text {
      padding: 0 2.625rem 0 0.625rem;
      width: 0;
      height: 3.125rem;
      background-color: #fff;
      font-size: 1rem;
      color: #b8b8b8;
      border: 2px solid #18cfab;
      border-radius: 0.3125rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
      -webkit-transition: all ease .7s;
      -o-transition: all ease .7s;
      transition: all ease .7s;
      position: absolute;
      right: 0;
      opacity: 0; }
      .header-form__text::-webkit-input-placeholder {
        color: #18cfab;
        font-size: 1.125rem;
        font-style: italic; }
    .header-form__search {
      border: none;
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      outline: none;
      width: 3.125rem;
      height: 3.125rem;
      text-align: center;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s; }
      .header-form__search .search, .header-form__search .close {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        display: inline-block; }
      .header-form__search .search {
        width: 1.375rem;
        height: 1.375rem;
        fill: #bbb; }
      .header-form__search .close {
        display: none;
        width: 0.9375rem;
        height: 0.9375rem; }
      .header-form__search:hover .search {
        fill: #18cfab; }
    .header-form.open .header-form__text {
      width: 25rem;
      opacity: 1; }
    .header-form.open .header-form__search .search {
      display: none; }
    .header-form.open .header-form__search .close {
      display: inline-block;
      fill: #18cfab; }

.main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .main-container {
    padding-top: 7.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh; }
  .main-descr {
    font-size: 2.1875rem;
    line-height: 4.6875rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase; }
    .main-descr span {
      color: #18cfab; }
  .main-heading {
    font-size: 4.9375rem;
    line-height: 5.3125rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff; }
  .main-text {
    color: #d4d4d4;
    font-size: 2.125rem;
    line-height: 5.3125rem;
    font-weight: 300; }
  .main .btn {
    margin: 0 14px; }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .advantages-item {
    width: 25%;
    height: 23.375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .advantages-item .touch {
      width: 3.625rem;
      height: 6.0625rem; }
    .advantages-item .diamond {
      width: 5.8125rem;
      height: 6.0625rem; }
    .advantages-item .light {
      width: 3.75rem;
      height: 6.0625rem; }
    .advantages-item .devices {
      width: 6.1875rem;
      height: 6.0625rem; }
    .advantages-item__descr {
      margin-top: 2.8125rem;
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase; }
    .advantages-item:nth-child(odd) {
      background-color: #1c2a33;
      border-top: 0.4375rem solid #18cfab; }
      .advantages-item:nth-child(odd) .advantages-item__descr {
        color: #18cfab; }
      .advantages-item:nth-child(odd) .touch, .advantages-item:nth-child(odd) .light {
        fill: #18cfab; }
    .advantages-item:nth-child(even) {
      background-color: #18cfab;
      border-top: 0.4375rem solid #fff; }
      .advantages-item:nth-child(even) .advantages-item__descr {
        color: #fff; }
      .advantages-item:nth-child(even) .diamond, .advantages-item:nth-child(even) .devices {
        fill: #fff; }

.services {
  padding: 5rem 0 6.25rem; }
  .services .tabs-wrap__content {
    margin-top: 1.5625rem; }

.ready {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 29.75rem;
  position: relative; }
  .ready::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.78); }
  .ready .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 2; }
  .ready__heading {
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase; }
  .ready__descr {
    margin: 1.5625rem 0 4.375rem;
    color: #d8d8d8;
    font-size: 1rem; }

.work {
  padding: 6.25rem 0;
  background-color: #f8fcfe;
  border-bottom: 1px solid #ebebeb;
  text-align: center; }
  .work .tabs-wrap__content {
    margin: 4.375rem 0; }
  .work-gallery {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .work-gallery__item {
      width: 25%;
      position: relative;
      overflow: hidden; }
      .work-gallery__item img {
        width: 100%;
        display: block; }
      .work-gallery__item:hover .work-gallery__info {
        top: 0; }
    .work-gallery__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #f8fcfe;
      border-top: 2px solid #18cfab;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      -webkit-transition: all ease-in-out .5s;
      -o-transition: all ease-in-out .5s;
      transition: all ease-in-out .5s; }
    .work-gallery__icon {
      display: inline-block;
      margin: 0 0.25rem;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
      border-radius: 50%;
      border: 1px solid #18cfab;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .work-gallery__icon .link, .work-gallery__icon .search {
        fill: #18cfab;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      .work-gallery__icon:hover {
        background-color: #18cfab; }
        .work-gallery__icon:hover .link, .work-gallery__icon:hover .search {
          fill: #fff; }
      .work-gallery__icon .link {
        width: 0.9375rem;
        height: 0.9375rem; }
      .work-gallery__icon .search {
        width: 0.75rem;
        height: 0.6875rem; }
    .work-gallery__heading {
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.5625rem;
      text-transform: uppercase;
      color: #18cfab; }
    .work-gallery__cath {
      color: #8a8a8a;
      font-size: 0.75rem;
      font-weight: 300; }

.news {
  padding: 5.3125rem 0; }
  .news-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .news-list__img {
      position: relative;
      width: 16.4375rem;
      height: 13rem;
      overflow: hidden; }
      .news-list__img img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        -webkit-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s; }
      .news-list__img:hover img {
        -webkit-transform: scale(1.5) rotate(10deg);
        -ms-transform: scale(1.5) rotate(10deg);
        transform: scale(1.5) rotate(10deg); }
      .news-list__img:hover .news-list__date {
        background-color: #18cfab; }
    .news-list__date {
      position: absolute;
      top: 0;
      right: 0;
      width: 4.25rem;
      height: 4.125rem;
      color: #fff;
      font-size: 1rem;
      background-color: #203e38;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 300;
      -webkit-transition: all ease-in-out .5s;
      -o-transition: all ease-in-out .5s;
      transition: all ease-in-out .5s; }
    .news-list__info {
      padding: 0.75rem 1.25rem;
      background-color: #f8fcfe;
      border: 1px solid #ebebeb;
      margin-bottom: 2.8125rem; }
      .news-list__info:hover .news-list__heading {
        color: #18cfab; }
    .news-list__heading {
      font-size: 1.125rem;
      line-height: 2.4375rem;
      font-weight: 700;
      color: #717171;
      -webkit-transition: all ease-in-out .5s;
      -o-transition: all ease-in-out .5s;
      transition: all ease-in-out .5s; }
    .news-list__comments {
      font-size: 0.875rem;
      font-weight: 300;
      -webkit-transition: all ease-in-out .5s;
      -o-transition: all ease-in-out .5s;
      transition: all ease-in-out .5s;
      color: #777; }
      .news-list__comments:hover {
        text-decoration: underline; }

.about {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6.25rem 0;
  position: relative; }
  .about::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 74, 91, 0.5); }
  .about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 3; }
  .about .section-heading {
    color: #fff; }
  .about-slider__item {
    text-align: center; }
  .about-slider__icon .blockqouteIcon {
    width: 2.75rem;
    height: 1.875rem;
    fill: #18cfab; }
  .about-slider__quote {
    margin: 2.1875rem 0;
    min-height: 7.5rem;
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 300;
    color: #bbb; }
  .about-slider__person-name {
    font-size: 1rem;
    line-height: 1.6875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab; }
  .about-slider__person-job {
    font-size: 0.8125rem;
    font-weight: 300;
    color: #bbb; }
  .about-slider__person-img, .about-slider__nav-img {
    border-radius: 50%;
    border: 0.625rem solid rgba(31, 218, 181, 0.2); }
    .about-slider__person-img img, .about-slider__nav-img img {
      display: block;
      width: 100%;
      border-radius: 50%; }
  .about-slider__person-img {
    margin: 1.5625rem auto 0;
    width: 10.25rem;
    height: 10.25rem; }
    .about-slider__person-img img {
      border: 0.25rem solid #18cfab; }
  .about-slider__btn {
    width: 1.9375rem;
    height: 1.9375rem;
    border: 1px solid #bbb;
    outline: none;
    background-color: transparent;
    line-height: 1.9375rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .about-slider__btn .arrowLeft, .about-slider__btn .arrowRight {
      width: 0.5rem;
      height: 0.8125rem;
      fill: #bbb;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .about-slider__btn:hover {
      border-color: #18cfab;
      background-color: #18cfab; }
      .about-slider__btn:hover .arrowLeft, .about-slider__btn:hover .arrowRight {
        fill: #fff; }
  .about-slider__nav {
    margin-top: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-slider__nav-imgWrap {
      padding: 0 0.9375rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .about-slider__nav-img {
      position: relative;
      cursor: pointer;
      margin: 0 0.9375rem;
      width: 4.3125rem;
      height: 4.3125rem;
      border-width: 0.25rem; }
      .about-slider__nav-img img {
        border: 0.125rem solid transparent; }
      .about-slider__nav-img.active {
        top: -10px; }
        .about-slider__nav-img.active img {
          border-color: #18cfab; }

.gallery {
  padding: 5.9375rem 0 5rem;
  background-color: #f8fcfe; }
  .gallery-item {
    margin-bottom: 1.25rem; }
    .gallery-item-2 {
      margin-bottom: 0.1875rem; }
    .gallery-item img {
      display: block;
      cursor: pointer; }

body {
  font: 0.875rem/1.5625rem Montserrat, Arial, sans-serif;
  letter-spacing: 0.04375rem;
  color: #777; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
