.about
	+bg
	padding: rem(100px) 0
	position: relative
	&::after
		+overlay(#2e4a5b, .5)
	.container
		+flexColumnCenter
		position: relative
		z-index: 3
	.section-heading
		color: #fff
	&-slider
		&__item
			text-align: center
		&__blockquote
		&__icon
			.blockqouteIcon
				width: rem(44px)
				height: rem(30px)
				fill: $accentColor
		&__quote
			margin: rem(35px) 0
			min-height: rem(120px)
			font-size: rem(16px)
			line-height: rem(30px)
			font-weight: 300
			color: #bbb
		&__person-name
			font-size: rem(16px)
			line-height: rem(27px)
			font-weight: 700
			text-transform: uppercase
			color: $accentColor
		&__person-job
			font-size: rem(13px)
			font-weight: 300
			color: #bbb
		&__person-img, &__nav-img
			border-radius: 50%
			border: rem(10px) solid rgba($sliderImgBorderColor, .2)
			img
				display: block
				width: 100%
				border-radius: 50%
		&__person-img
			margin: rem(25px) auto 0
			width: rem(164px)
			height: rem(164px)
			img
				border: rem(4px) solid $accentColor
		&__btn
			width: rem(31px)
			height: rem(31px)
			border: 1px solid #bbb
			outline: none
			background-color: transparent
			line-height: rem(31px)
			transition: all .3s
			.arrowLeft, .arrowRight
				width: rem(8px)
				height: rem(13px)
				fill: #bbb
				transition: all .3s
			&:hover
				border-color: $accentColor
				background-color: $accentColor
				.arrowLeft, .arrowRight
					fill: #fff
		&__nav
			margin-top: rem(60px)
			display: flex
			align-items: center
			&-imgWrap
				padding: 0 rem(15px)
				display: flex			
			&-img
				position: relative
				cursor: pointer
				margin: 0 rem(15px)
				width: rem(69px)
				height: rem(69px)
				border-width: rem(4px)
				img
					border: rem(2px) solid transparent
				&.active 
					top: -10px
					img
						border-color: $accentColor

