//Buttons
.btn, .preload-btn
	display: inline-block
	padding: 0 10px
	text-align: center
	line-height: rem(61px)
	width: rem(165px)
	height: rem(60px)
	border-radius: rem(5px)
	background-color: $accentColor
	font-size: rem(13px)
	font-weight: 700
	color: #fff
	text-transform: uppercase
	text-decoration: none
	position: relative

.btn	
	box-shadow: 0 rem(-5px) 0 #fff
	transition: all .3s
	&:hover
		background-color: darken($accentColor, 5%)
		box-shadow: 0 rem(-4px) 0 #fff
		top: 1px
	&:active
		background-color: darken($accentColor, 10%)
		top: rem(4px)
		box-shadow: 0 0 0 #fff
	&--blue
		background-color: $blueColor
		&:hover
			background-color: darken($blueColor, 5%)
		&:active
			background-color: darken($blueColor, 10%)
	&-wrap
		margin-top: rem(125px)


.preload
	&-container
		position: relative
	&-icon
		position: absolute
		visibility: hidden
	&-dots
		filter: url(#gooeyness)
		padding: rem(30px)
		position: absolute
		top: rem(-150px)
		left: 50%
		transform: translateX(-50%)
		transition: all ease-in-out .5s
		visibility: hidden
		opacity: 0
		&.active
			visibility: visible
			opacity: 1
	&-dot
		display: inline-block
		background: $accentColor
		width: rem(32px)
		height: rem(32px)
		margin-right: rem(20px)
		border-radius: 50%
		&:nth-child(1)
			animation: firstDot 3s infinite
		&:nth-child(2)
			animation: secondDot 3s infinite
		&:nth-child(3)
			animation: thirdDot 3s infinite
		&:nth-child(4)
			animation: fourthDot 3s infinite
		&:nth-child(5)
			animation: fifthDot 3s infinite
	&-btn
		padding-left: rem(54px)
		border: 2px solid transparent
		&::before, &::after
			content: ''
			position: absolute
			width: rem(16px)
			height: rem(4px)
			background-color: #fff
			left: rem(22px)
			top: 50%
			margin-top: -2px
			transition: all ease-in-out .5s
		&::after
			transform: rotate(90deg)
		&:hover
			background-color: #fff
			border-color: $accentColor
			color: $accentColor
			&::before, &::after
				background-color: $accentColor
			&::before
				transform: rotate(360deg)
			&::after
				transform: rotate(450deg)

@keyframes firstDot
	0%
		transform: scale(1) translateX(0)
	25%
		transform: scale(2.5) translateX(0)
	50%
		transform: scale(1) translateX(0)
	83%
		transform: scale(1) translateX(rem(240px))
	100%
		transform: scale(1) translateX(0)

@keyframes secondDot
	0%
		transform: translateX(0)
	27%
		transform: translateX(rem(-40px))
	50%
		transform: translateX(0)
	81%
		transform: translateX(rem(180px))
	100%
		transform: translateX(0)

@keyframes thirdDot
	0%
		transform: translateX(0)
	29%
		transform: translateX(rem(-100px))
	50%
		transform: translateX(0)
	79%
		transform: translateX(rem(120px))
	100%
		transform: translateX(0)

@keyframes fourthDot
	0%
		transform: translateX(0)
	31%
		transform: translateX(rem(-160px))
	50%
		transform: translateX(0)
	77%
		transform: translateX(rem(60px))
	100%
		transform: translateX(0)

@keyframes fifthDot
	0%
		transform: scale(1) translateX(0)
	33%
		transform: scale(1) translateX(rem(-220px))
	50%
		transform: scale(1) translateX(0)
	75%
		transform: scale(2.5) translateX(0)
	100%
		transform: scale(1) translateX(0)