.gallery
  padding: rem(97px) 0 rem(82px)
  background-color: $sectionBg
  &-item
    width: rem(370px)
    float: left
    margin-bottom: rem(20px)
    &__img
      position: relative
      height: 100%
      img
        display: block
        width: 100%
        height: 100%
    &__hover
      cursor: pointer
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(#000, .8)
      display: flex
      align-items: center
      justify-content: center
      opacity: 0
      transition: all .3s
      &:hover
        opacity: 1
    &__icons
    &__icon
      margin: 0 rem(4px)
      text-align: center
      line-height: rem(45px)
      width: rem(42px)
      height: rem(42px)
      border-radius: rem(3px)
      background-color: $blueColor2
      display: inline-block
      transition: all .3s
      &:hover
        background-color: lighten($blueColor2, 15%)
        .search, .resize
          transform: scale(1.2)
      .search, .resize
        width: rem(16px)
        height: rem(15px)
        fill: #fff
        transition: all .3s
  &::after
    content: ''
    display: block
    clear: both
  &-button
    text-align: center
    margin-top: rem(47px)

.grid
  max-width: rem(370px)
  &-item
    width: rem(119px)
    height: rem(92px)
    float: left
    margin: 0 rem(3px) rem(3px) 0
    &--width2
      width: rem(180px)
    &--height2
      height: rem(168px)
  &::after
    content: ''
    display: block
    clear: both