@import normalize
@import montserrat
@import variables
@import functions
@import mixins
@import buttons
@import sectionHeading
@import header
@import mainSection
@import advantages
@import services
@import ready
@import work
@import news
@import about
@import gallery

body
	font: rem(14px)/rem(25px) $fontFamily
	letter-spacing: rem(.7px)
	color: #777

.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto	
	        
.gallery
	padding: rem(95px) 0 rem(80px)
	background-color: $sectionBg
	&-wrap
		border: 1px solid blue
	&-item
		border: 1px solid red
		margin-bottom: rem(20px)
		&-2
			margin-bottom: rem(3px)
		img
			display: block
			cursor: pointer
			
		


