<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title The Ham
		link(rel="stylesheet", href="css/main.css")
	body
		include img/icons/sprite.svg
		header.header
			.container
				a.header-logo(href="index.html")
					img.header-logo__img(src="img/logo.png", alt="The Ham")
				nav.header-menu
					.header-menu__item
						a.header-menu__link(href="#") home
					.header-menu__item
						a.header-menu__link(href="#") about
					.header-menu__item
						a.header-menu__link(href="#") skills
					.header-menu__item
						a.header-menu__link(href="#") service
					.header-menu__item
						a.header-menu__link(href="#") work
					.header-menu__item
						a.header-menu__link(href="#") testimonial
					.header-menu__item
						a.header-menu__link(href="#") blog
					.header-menu__item
						a.header-menu__link(href="#") team
					.header-menu__item
						a.header-menu__link(href="#") contact
				form.header-form
					input.header-form__text(placeholder="Search")
					button.header-form__search
						svg.search
							use(xlink:href='#search')
						svg.close
							use(xlink:href='#close')
	
		main.main(style="background: url(img/main-bg.jpg)")
			.container
				.main-container
					p.main-descr The Ham is 
						span Wordpress theme
					h.main-heading we are creative
					p.main-text Just Buy And Enjoy These Awesome Features
					.btn-wrap
						a.btn(href="#") explore now
						a.btn.btn--blue(href="#") purchase now
		
		section.advantages
			.advantages-item
				svg.touch
					use(xlink:href="#touch")

				span.advantages-item__descr Different theme option
			.advantages-item
				svg.diamond
					use(xlink:href='#diamond')
				span.advantages-item__descr fully customizable
			.advantages-item
				svg.light
					use(xlink:href='#light')
				span.advantages-item__descr unlimited support
			.advantages-item
				svg.devices
					use(xlink:href='#devices')
				span.advantages-item__descr responsive all device

		section.services
			.container
				h3.section-heading Our Services
				
				.tabs-wrap
					.tabs-wrap__buttons
						button.tabBtn(data-tab="tab-1") Web Design
						button.tabBtn(data-tab="tab-2") Graphic Design
						button.tabBtn(data-tab="tab-3") Online Support
						button.tabBtn(data-tab="tab-4") App Design 
						button.tabBtn(data-tab="tab-5") Online Marketing
						button.tabBtn(data-tab="tab-6") Seo Service
					.tabs-wrap__content
						.tabContent#tab-1(style="display: none;")
							.tabContent__img
								img(src="img/web-design/web-design8.jpg", alt="Web Design")
							p.tabContent__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.tabContent#tab-2(style="display: none;")
							.tabContent__img
								img(src="img/web-design/web-design1.jpg", alt="Web Design")
							p.tabContent__descr Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.tabContent#tab-3(style="display: none;")
							.tabContent__img
								img(src="img/web-design/web-design2.jpg", alt="Web Design")
							p.tabContent__descr Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.tabContent#tab-4(style="display: none;")
							.tabContent__img
								img(src="img/web-design/web-design3.jpg", alt="Web Design")
							p.tabContent__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.tabContent#tab-5(style="display: none;")
							.tabContent__img
								img(src="img/web-design/web-design4.jpg", alt="Web Design")
							p.tabContent__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.tabContent#tab-6(style="display: none;")
							.tabContent__img
								img(src="img/web-design/web-design5.jpg", alt="Web Design")
							p.tabContent__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

		section.ready(style="background: url(img/ready-bg.jpg)")
			.container
				h2.ready__heading Everything is ready. just buy and install now
				p.ready__descr Smooth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you
				a.btn(href="#") purchase now

		section.work
			.container
				h3.section-heading Our Amazing Work

				.filtr-container
					.filtr-category
						button.filtr__btn#all All
						button.filtr__btn#graphic-design Graphic Design
						button.filtr__btn#web-design Web Design
						button.filtr__btn#landing-page Landing Pages
						button.filtr__btn#wordpress Wordpress
							
					.filtr-content.work-gallery

				.preload-container
					svg.preload-icon
						use(xlink:href='#preload')
					.preload-dots
						.preload-dot.mainDot
						.preload-dot
						.preload-dot
						.preload-dot
						.preload-dot
					button#loadMore.preload-btn Load more

		section.news
			.container
				h3.section-heading Breaking News
				.news-list

					.news-list__item
						.news-list__img
							a.news-list__link(href="#")
								img(src="img/news/news1.jpg", alt="Image")
							span.news-list__date
								span.news-list__number 12
								span.news-list__month Feb
						.news-list__info
							h6.news-list__heading Amazing Image Post
							a.news-list__comments(href="#") By admin | 2 comment

					.news-list__item
						.news-list__img
							a.news-list__link(href="#")
								img(src="img/news/news2.jpg", alt="Image")
							span.news-list__date
								span.news-list__number 12
								span.news-list__month Feb
						.news-list__info
							h6.news-list__heading Amazing Image Post
							a.news-list__comments(href="#") By admin | 2 comment
					.news-list__item

						.news-list__img
							a.news-list__link(href="#")
								img(src="img/news/news3.jpg", alt="Image")
							span.news-list__date
								span.news-list__number 12
								span.news-list__month Feb
						.news-list__info
							h6.news-list__heading Amazing Image Post
							a.news-list__comments(href="#") By admin | 2 comment

					.news-list__item
						.news-list__img
							a.news-list__link(href="#")
								img(src="img/news/news4.jpg", alt="Image")
							span.news-list__date
								span.news-list__number 12
								span.news-list__month Feb
						.news-list__info
							h6.news-list__heading Amazing Image Post
							a.news-list__comments(href="#") By admin | 2 comment

					.news-list__item
						.news-list__img
							a.news-list__link(href="#")
								img(src="img/news/news5.jpg", alt="Image")
							span.news-list__date
								span.news-list__number 12
								span.news-list__month Feb
						.news-list__info
							h6.news-list__heading Amazing Image Post
							a.news-list__comments(href="#") By admin | 2 comment
 
					.news-list__item
						.news-list__img
							a.news-list__link(href="#")
								img(src="img/news/news6.jpg", alt="Image")
							span.news-list__date
								span.news-list__number 12
								span.news-list__month Feb
						.news-list__info
							h6.news-list__heading Amazing Image Post
							a.news-list__comments(href="#") By admin | 2 comment

					.news-list__item
						.news-list__img
							a.news-list__link(href="#")
								img(src="img/news/news7.jpg", alt="Image")
							span.news-list__date
								span.news-list__number 12
								span.news-list__month Feb
						.news-list__info
							h6.news-list__heading Amazing Image Post
							a.news-list__comments(href="#") By admin | 2 comment

					.news-list__item
						.news-list__img
							a.news-list__link(href="#")
								img(src="img/news/news8.jpg", alt="Image")
							span.news-list__date
								span.news-list__number 12
								span.news-list__month Feb
						.news-list__info
							h6.news-list__heading Amazing Image Post
							a.news-list__comments(href="#") By admin | 2 comment

		section.about(style="background: url(img/about-bg.jpg);")
			.container
				h3.section-heading What People Say About theHam

				.about-slider
					.about-slider__item
						blockquote.about-slider__blockquote
							span.about-slider__icon
								svg.quote
									use(xlink:href="#quote")
							p.about-slider__text Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
							.about-slider__person
								.about-slider__person-name Mary Smith
								.about-slider__person-job Backend Developer
								.about-slider__person-img
									img(src="img/slider/sliderImg1.jpg", alt="Person 1")
					.about-slider__item
						blockquote.about-slider__blockquote
							span.about-slider__icon
								svg.quote
									use(xlink:href="#quote") 
							p.about-slider__text Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
							.about-slider__person
								.about-slider__person-name Habib Ali
								.about-slider__person-job Web Designer
								.about-slider__person-img
									img(src="img/slider/sliderImg2.jpg", alt="Person 2")
					.about-slider__item
						blockquote.about-slider__blockquote
							span.about-slider__icon
								svg.quote
									use(xlink:href="#quote")
							p.about-slider__text Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
							.about-slider__person
								.about-slider__person-name Hasan Ali
								.about-slider__person-job UX Designer
								.about-slider__person-img
									img(src="img/slider/sliderImg3.jpg", alt="Person 3")
					.about-slider__item
						blockquote.about-slider__blockquote
							span.about-slider__icon
								svg.quote
									use(xlink:href="#quote")
							p.about-slider__text Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
							.about-slider__person
								.about-slider__person-name Kitty
								.about-slider__person-job Cat Cat
								.about-slider__person-img
									img(src="img/slider/Kitty.jpg", alt="Kitty")
					.about-slider__item
						blockquote.about-slider__blockquote
							span.about-slider__icon
								svg.quote
									use(xlink:href="#quote")
							p.about-slider__text Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
							.about-slider__person
								.about-slider__person-name Jannet Johnson
								.about-slider__person-job Frontend Developer
								.about-slider__person-img
									img(src="img/slider/sliderImg4.jpg", alt="Person 4")

				.about-slider__nav

					.about-slider__nav-img
						img(src="img/slider/sliderImg1.jpg", alt="Person Preview 1")
					.about-slider__nav-img
						img(src="img/slider/sliderImg2.jpg", alt="Person Preview 2")
					.about-slider__nav-img
						img(src="img/slider/sliderImg3.jpg", alt="Person Preview 3")
					.about-slider__nav-img
						img(src="img/slider/Kitty.jpg", alt="Kitty Prewiew")
					.about-slider__nav-img
						img(src="img/slider/sliderImg4.jpg", alt="Person Preview 4")

		section.gallery
			.container
				h3.section-heading Gallery of best images

				.gallery-list
				
					.gallery-item
						.gallery-item__img
							img(src="img/gallery/gallery1.jpg", alt="Best Photo 1")
							.gallery-item__hover
								.gallery-item__icons
									span.gallery-item__icon
										svg.search
											use(xlink:href="#search")
									span.gallery-item__icon
										svg.resize
											use(xlink:href="#resize")

					.gallery-item
						.gallery-item__img
							img(src="img/gallery/gallery2.jpg", alt="Best Photo 2")
							.gallery-item__hover
								.gallery-item__icons
									span.gallery-item__icon
										svg.search
											use(xlink:href="#search")
									span.gallery-item__icon
										svg.resize
											use(xlink:href="#resize")
					
					.gallery-item.grid
						.grid-item.grid-item--width2.grid-item--height2
							.gallery-item__img
								img(src="img/gallery/gallery7.jpg", alt="Best Photo 7")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item.grid-item--width2.grid-item--height2
							.gallery-item__img
								img(src="img/gallery/gallery8.jpg", alt="Best Photo 8")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery9.jpg", alt="Best Photo 9")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery10.jpg", alt="Best Photo 10")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")
											
						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery11.jpg", alt="Best Photo 11")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery12.jpg", alt="Best Photo 12")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery13.jpg", alt="Best Photo 13")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery14.jpg", alt="Best Photo 14")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery15.jpg", alt="Best Photo 15")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery16.jpg", alt="Best Photo 16")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")

						.grid-item
							.gallery-item__img
								img(src="img/gallery/gallery17.jpg", alt="Best Photo 17")
								.gallery-item__hover
									.gallery-item__icons
										span.gallery-item__icon
											svg.search
												use(xlink:href="#search")
										span.gallery-item__icon
											svg.resize
												use(xlink:href="#resize")
					
					.gallery-item
						.gallery-item__img
							img(src="img/gallery/gallery3.jpg", alt="Best Photo 3")
							.gallery-item__hover
								.gallery-item__icons
									span.gallery-item__icon
										svg.search
											use(xlink:href="#search")
									span.gallery-item__icon
										svg.resize
											use(xlink:href="#resize")

					.gallery-item
						.gallery-item__img
							img(src="img/gallery/gallery4.jpg", alt="Best Photo 4")
							.gallery-item__hover
								.gallery-item__icons
									span.gallery-item__icon
										svg.search
											use(xlink:href="#search")
									span.gallery-item__icon
										svg.resize
											use(xlink:href="#resize")

					.gallery-item
						.gallery-item__img
							img(src="img/gallery/gallery5.jpg", alt="Best Photo 5")
							.gallery-item__hover
								.gallery-item__icons
									span.gallery-item__icon
										svg.search
											use(xlink:href="#search")
									span.gallery-item__icon
										svg.resize
											use(xlink:href="#resize")

					.gallery-item
						.gallery-item__img
							img(src="img/gallery/gallery6.jpg", alt="Best Photo 6")
							.gallery-item__hover
								.gallery-item__icons
									span.gallery-item__icon
										svg.search
											use(xlink:href="#search")
									span.gallery-item__icon
										svg.resize
											use(xlink:href="#resize")

					.gallery-item
						.gallery-item__img
							img(src="img/gallery/gallery18.jpg", alt="Best Photo 18")
							.gallery-item__hover
								.gallery-item__icons
									span.gallery-item__icon
										svg.search
											use(xlink:href="#search")
									span.gallery-item__icon
										svg.resize
											use(xlink:href="#resize")

				.gallery-button
					.anime-container
						.item.item1
						.item.item2
						.item.item3
						.item.item4
					.preload-container
						svg.preload-icon
							use(xlink:href='#preload')
						.preload-dots
							.preload-dot.mainDot
							.preload-dot
							.preload-dot
							.preload-dot
							.preload-dot
						button#loadGallery.preload-btn Load more

		footer.footer
			.container
				p.footer__copywright &copy; Copyright 2015 <a href="#">theHam</a> | All Rights Reserved

		script(src="js/jquery-3.3.1.min.js")
		script(src="js/slick.min.js")
		//- script(src="js/imagesloaded.pkgd-4.1.4.min.js")
		script(src="js/masonry.pkgd-4.2.2.min.js")
		script(src="js/main.js")